body{
    background-color: #f1f2f2;
    color: #141414;
    
    font-family: Arial, Helvetica, sans-serif;

}

body.home{
    background-image: url(images/Background.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

body.overzicht{
    background-color: #adddf3;
}

body.over-ons{
    background-color: #adddf3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
}


main{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 17%;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 7vw;

}


.scroll-button {
    font-family: 'Lexend Deca', sans-serif;
    margin: 1em;
    background-color: #aacfe646;
    color: #ffffff;
    padding: 0.625em 1em;
    border-radius: 2em;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s ease, 0.2s ease;
    box-shadow: 0 0.1em 0.375em #1111113a;
    width: fit-content;
    text-align: center;

}
.scroll-button:hover {
    background-color: #14576e67;
        transform: translateY(-0.125em);
        box-shadow: 0 0.375em 0.5em #1111113a;

}

h3{ 
    font-family: 'baloo bhaijaan 2', sans-serif;
    color: #04233b;
    text-align: center;
    font-size: 5vw;
    margin-top: 5em;

}

.doodlerainbow {
    width: 100%;
    
}

.afleveringen{
    width: 100%;
}

.recent{
    width: 40%;
    margin-left: 30vw;
    margin-bottom: 2em;
}


p{
    font-family: 'Lexend Deca', sans-serif;
    color: #04233b;
    margin-left: 6em;
    margin-right: 6em;
    font-size: 1.5vw;
}


nav a {
    background-color: #aacfe646;
    color: #ffffff;
    padding: 0.625em 1.25em;
    text-decoration: none;
    border-radius: 2em;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s ease, 0.2s ease;
    box-shadow: 0 0.1em 0.375em #1111113a;
    margin-right: 1em;
}

nav{    
    
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    
}




a:hover {
    background-color: #14576e67;
        transform: translateY(-0.125em);
        box-shadow: 0 0.375em 0.5em #1111113a;

}



footer {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: #04233b;
    color: #fff;
    
    
    
    
}

.legal li{
    display: flex;
    flex-direction: column;
    

    
}

.socials ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    
    
    
}

h4{
    font-family: 'baloo bhaijaan 2', sans-serif;
    color: #04233b;
    text-align: center;
    font-size: 5vw;
    margin-top: 1em;

}

main h5{
    font-family: 'baloo bhaijaan 2', sans-serif;
    color: #04233b;
    text-align: center;
    font-size: 5vw;
    
}

.aflevering {
    display: flex;
    flex-direction: row;
    width: 20%;
}


article{
    display: flex;
    justify-content: space-evenly;
    margin-top: -38em;
    width: 90vw;
    

}

section h1 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    color: #04233b;
    margin-top: -7.5em;
}


h6{
    font-family: 'baloo bhaijaan 2', sans-serif;
    color: #04233b;
    text-align: center;
    font-size: 5vw;
    margin-top: -3em;

}


.kevin {
    display: flex; 
    align-items: center; 
    gap: 2em;  
    padding: 2em; 
}

.image-left {
    width: 25%;
}

.text-right {
    width: 60%; 
}

.text-right h2 {
    font-size: 2em;
    margin-top: 20em;
}

.text-right p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 30em;
}

.anne {
    display: flex; 
    align-items: center; 
    gap: 2em; 
    padding: 2em; 
}

.image-left2 {
    width: 25%;
}

.text-right2 {
    width: 60%; 
}

.text-right2 h2 {
    font-size: 2em;
    margin-top: 20em;
}

.text-right2 p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 30em;
}

.mo {
    display: flex; 
    align-items: center; 
    gap: 2em;  
    padding: 2em;
}

.image-left3 {
    width: 25%;
}

.text-right3 {
    width: 60%; 
}

.text-right3 h2 {
    font-size: 2em;
    margin-top: 20em;
}

.text-right3 p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 30em;
}




.titel_aflevering {
    display: flex;
    justify-content: space-between; 
    padding: 2em; 
    margin-top: 10em;
}

.titel_aflevering h2 {
    margin: 0 5em; 
    color: #ffffff;
}



footer {
    background-color: #0b2542;
    padding: 2em;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

footer p {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 1em;
}

footer section {
    display: inline-block;
    margin: 0 2em; 
    text-align: left;
}

footer h4 {
    font-size: 1em;
    margin-bottom: 1em;
    color: #ffffff;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


footer ul li a {
    text-decoration: none;
    color: #0073e6;
    font-size: 1em;
}

footer ul li img {
    width: 1.5em;
    height: auto;
    vertical-align: middle;
    
}

